scripts/.idea/
scripts/__pycache__/
*.ppt*
*.zip
git_hints.txt
todo/
quizzes/
results/
scripts/exercises
schedule/*.xlsx
general
logs/
__pycache__
scripts/deep learning/my_logs/
scripts/deep learning/.idea/
.idea/*
my_logs/
tuner/
scripts/my_solution
models/
netwerk/
templates/*.pdf
# templates/*DL*
venv/